<!DOCTYPE html>
<html lang="en">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <head>
        <meta charset="UTF-8" />
        <meta name="Viewport" content="width=device=width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <title>Forgot-Password</title>
    </head>
<div class="form-gap"></div>
    <div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <div class="panel-body">
                        <h3 style="text-align:center;">Forgot Password</h3>
                        <style>
                            div {
                                margin-bottom: 10px;
                            }
                            label {
                                display: inline-block;
                                width: 40px;
                                text-align: center;
                            }
                        </style>
                        <form action="" method="post">
                            <div class="form-group"></div>
                            
                            <label for="mail">Email</label>
                            <input type="email" name="email" placeholder="Email" class="form-block"  id="email" />
                            <br/>
                            <input type="submit" class="btn btn-primary" value="Submit" />
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>