<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reset-Successful</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <div style="margin-top: 70px;" class="vh- d-flex justify-content-center align-items-center">
            <div class="col-md-4">
                <div class="border border-3 border-success"></div>
                <div class="card  bg-white shadow p-5">
                    <div class="mb-4 text-center">
                        <img width="70" height="70" src="https://img.icons8.com/cotton/64/sent.png" alt="sent"/>
                    </div>
                    <div class="text-center">
                        
                        <p><b>Password reset link has been sent to your email..!</b></p>
                        
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>