<!DOCTYPE html> 
<html> 
<title>Stripe Payment</title> 
<body> 
	<h3 >Welcome to Payment Gateway</h3> 
	<form action="payment" method="POST"> 
		<a href="https://buy.stripe.com/test_00gg0q4cicaZbtecMM" target="b
		">
			<img src="https://support.direct.worldline-solutions.com/contentAsset/image/e26cb25b-7c66-4950-9ee1-86376f2e8cdb/fileAsset" alt="image" width="500px
			">
		</a>
	</form> 
</body> 
</html> 