<!DOCTYPE html>
<html lang="en">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <title>Reset-password</title>
    </head>
    <div class="form-gap"></div>
    <div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <div class="panel-body">
                        <h3 style="text-align:center;">Reset password for <%= email %> </h3>
                        <style>
                            div {
                                margin-top: 20px;
                                margin-bottom: 10px;
                            }
                            label {
                                margin-top: 20px;
                                text-align: center;
                            }
                        </style>
                        <form action="" method="post">
                            
                                <div class="input-center">
                            <label class="w3-container w3-center" for="password">Password</label>
                            <input type="password" name="password" placeholder="Password" class="w3-input"  id="password"  />
                            <label class="w3-container w3-center" for="password2">Confirm Password</label>
                            <input type="password" name="password2"  placeholder="Confirm Password" class="w3-input" id="password2" />
                            <br>
                            <br>
                            <input type="submit" class="w3-btn w3-round-large w3-deep-purple" value="Reset" />
                                
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>